<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Devine le nombre</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/guess.css">
</head>

<body>
<div id="content">
    <div id="bigBubble">
        <p id="text">Je pense à un nombre entre 1 et 100. Pouvez-vous le trouver ?</p>
        <div id="mediumBubble"></div>
        <div id="smallBubble"></div>
    </div>

    <img id="tete" src="/images/loic.png" alt="tete du loic">
    <form id="pro_form" method="POST" action="/">
        <p><input name="valider" type="text" size="2">
            <input type="submit" value="Ok"></p>
        <p><input name="nouveau" type="submit" value="Recommencer" > <p>
    </form>
</div>
</body>
</html>
